
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">APOLLO HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/docdash">Back</a>
          
        </li>
        
        
      </ul>
      
    </div>
  
  </nav>


<div class="container">
  <hr>
  <hr>
  <hr>
<h2>Medicine List</h2>
<a style="color: rgb(86, 86, 86); font-size: x-large;">Welcome to Medicine list page. Click Add Medicines to Add medicines</a>
  <hr>
<table class="table table-striped">

    <thead class="table-header">
        <tr>
            <th> ID </th>
            <th> Drug Name </th>
            <th> Stock </th>
            <th> Action </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medicine of medicines">
            <td> {{ medicine.id }} </td>
            <td> {{ medicine.drugName }} </td>
            <td> {{ medicine.stock }} </td>

            <td>
                <button (click)="updateMedicine(medicine.id)" class="btn btn-info"> Update </button>
                <button (click)="deleteMedicine(medicine.id)" class="btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
        
</table>
</div>
